<html
  lang="en"
  data-namespace-typo3-fluid="true"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
>

  <f:if condition="{event.markers}">
    <f:then>
      <table class="mt-2 table table-sm table-hover table-bordered">
        <tbody>
          <f:for each="{event.markers}" as="marker">
            <tr>
              <td><strong>{marker.placeholder}</strong></td>
              <td>
                <f:translate key="{marker.label}" extensionName="DsNotifier">{marker.label}</f:translate>
              </td>
            </tr>
          </f:for>
        </tbody>
      </table>
      <p class="small text-end text-muted">
        <f:format.raw>
          <f:translate key="message.markers.tableInfo" extensionName="DsNotifier">
            These markers are provided &amp; will be replaced by the event
            “<f:translate key="{event.attribute.label}" extensionName="DsNotifier">{event.attribute.label}</f:translate>”
          </f:translate>
          [<span class="font-monospace">{event.identifier}</span>]
        </f:format.raw>
      </p>
    </f:then>
    <f:else>
      <p><f:translate key="message.markers.noFound" extensionName="DsNotifier">No markers defined for event</f:translate></p>
    </f:else>
  </f:if>

</html>
